
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center><h1>SPECIFIC STATIC FILES</h1></center>
    <img src="{% static 'images/p1.jpg' %}" alt="p1img" width="400px" height="400px">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, libero.</p>

</body>
</html>